<html>
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF8"/>
    {{>_header}}
</head>
<body>
<p>
    <div>
        <form action="/" method="get">
            <input type="text" name="search" value="{{#search}}{{search}}{{/search}}" size="35"/>
            <input type="submit" value="Найти"/>
        </form>
    </div>
<p>
        <table border="1">
                <caption>Афиша в нашем театре</caption>
                <tr>
                    <th>№</th>
                    <th>Название</th>
                <th>Количество мест</th>
            </tr>
            {{#afisha}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td>{{seats}}</td>
                </tr>
            {{/afisha}}
        </table>
</body>
<footer>
    {{>_footer}}
</footer>
</html>