<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> Вход </title>
    {{>_header}}
</head>
<body>

<form action="/login" method="post">
    <div><label> Логин : <input type="text" name="username"/> </label></div>
    <div><label> Пароль: <input type="password" name="password"/> </label></div>
    {{>_token}}
    <div><input type="submit" value="Вход"/></div>
</form>
</body>
<footer>
    {{>_footer}}
</footer>
</html>