<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> Регистрация </title>
    {{>_header}}
</head>
<body>
{{#message}}
    {{message}}
{{/message}}
<form action="/sign-up" method="post">
    <div><label> Логин : <input type="text" name="username"/> </label></div>
    <div><label> Пароль: <input type="password" name="password"/> </label></div>
    {{>_token}}
    <div><input type="submit" value="Регистрация"/></div>
</form>
</body>
<footer>
    {{>_footer}}
</footer>
</html>